.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App .navBarToolbar {
  font-weight: bolder;
}

.App .eventListItem .description{
  display: inline;
}